html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
}

#videos {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #F0F6FB;
}

#chatbox {
  position: absolute;
  height: 180px;
  right: 20px;
  left: 20px;
  bottom: 0px;
}

#chatinput {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}

#messages {
  overflow: scroll;
  height: 100px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}

.flip {
-webkit-transform: rotateY(180deg);
}
