html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
}

#videos {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 200px;
}

#chatbox {
  position: absolute;
  top: 0;
  width: 200px;
  right: 0;
  bottom: 0;
}

#chatinput {
  display: block;
  border: 1px solid black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 3px;
}

